@import url('https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css')
layer(base);
@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

@source '../{components,stories,src}/**/*.{js,jsx,ts,tsx,css,mdx}';

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    &:is(.system *) {
      @slot;
    }
  }
  &:is(.dark *) {
    @slot;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --dark-bg-color: #000;
    --dark-text-color: #fff;
    --dark-btn-bg-color: #2f2f2f;
    --dark-btn-text-color: #fff;
    --dark-code-bg-color: #1f1f1f;
    --font-wanted: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }

  html {
    font-family: var(--font-wanted);
  }

  body {
    @apply bg-white dark:bg-[var(--dark-bg-color)] text-black dark:text-[var(--dark-text-color)] transition-colors duration-300;
  }

  html,body,div#root {
    height: auto;
    min-height: 100vh;
  }
  div#root {
    display: flex;
    flex-direction: column;
  }

  * {
    @apply transition-colors;
  }
}

